/* HOME PAGE */
.homepage {
    text-align: center;
    width: 100%;
    color: white;
    font-family: $font-family;
    @include vertical-center;
}

.homepage>div {
    display: block;
}

.shadow {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.text-light {
    font-weight: 100;
    font-size: 28px;
}

.text-bold {
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 400;
}

.italic {
    font-style: italic;
    font-family: $script-font;
    font-size: 30px;
    line-height: 1em;
}

.homepage-form {
    width: 50%;
    margin: auto;
}

.full-width {
    width: 100%;
}

.homepage-input[type="text"]{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

.homepage-input[type="placeholder"]{
    text-transform: lowercase;
}


/* MAIN APP */
#header {
   position:fixed;
   top:0px;
   left:0px;
   width:100%;
   height: 150px;
   overflow: hidden;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center center;
}

footer.fixed-footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   overflow: hidden;
}

footer.page-footer {
    padding: 0px;
    margin: 0px;
}
// .nav-wrapper {
//  @include clearfix;
//  overflow: hidden;
//  background: none;
// }


//Chat box
.logo-image {
    margin-top: 2px;
    height: $navbar-height-mobile*0.8;
    @include totally-center;
}


#main-content {
     position: absolute;
    top: 150px;
    bottom: 60px;
 width: 100%;
 left: 0px;
 overflow: auto;
}

.timeline-section,
.chatbox-section {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    overflow: auto;
}

// .chatbox-section {
//  top: 125px;
// }

.button-collapse._alt {
    padding: 0;
}

.chatbox-button {
    width: 100%;
    height: 60px;
    padding: 0;
    >i {
        font-size: 40px;
        line-height: 60px;
    }
}

.chatbox-description {
    font-size: 18px;
    line-height: 60px;
    font-weight: 300;
}

.row.no-margin {
    margin: 0;
}

.col.no-padding {
    padding: 0;
}

.message-text {
    margin-right: 120px;
}

.message-send {
    position: relative;
    top: 20px;
    float: right;
    width: 100px;
    margin-right: 7px;
}

.message-input, 
.name-input {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    overflow: hidden;
    input[type="text"] {
        color: #424242;
    }
    @include clearfix;
}

.message-input {
    position: fixed;
}

/* Main App */
.flight-banner{
    text-align: center;
    padding: 20px 0;
}


.departure-timeline {
    color: #616161;
    text-align: center;
    padding-top: 15px;
}


.card-content {
    color: #616161;
}


/* CHAT BOX */
.chatbox-section {
    background: #e5e5e5;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

.top-bar {
    background: $primary-color;
    color: white;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}

.top-bar h1 {
    display: inline;
    font-size: 1.1rem;
}

.top-bar .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
}

.top-bar .typicons-minus {
    position: relative;
    top: 3px;
}

.top-bar .left {
    float: left;
}

.top-bar .right {
    float: right;
    padding-top: 5px;
}

.top-bar > * {
    position: relative;
}

.top-bar::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(rgba(#000, .5), rgba(#000, 0));
    animation: pulse 1s ease alternate infinite;
}

.discussion-wrapper {
    position: absolute;
    bottom: 70px;
    top: 0;
    left: 0;
    width: 100%;
    color: #616161;
    list-style: none;
    margin: 0;
    overflow: auto;
    @include clearfix;

}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    margin-right: 5px;
    //position: relative;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
    //background: #0084FF; 
}

.self .avatar {
    order: 2;
    margin-right: 0;
    margin-left: 5px;
}

.messages {
    max-width: 75%;
    background: white;
    //background: #F1F0F0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 1rem;
    margin: 0 0 0.2rem 0;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}