<div>
	<!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <ul class="cb-slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="homepage">
        <h4 class="text-light shadow">Enter flight number<br>and</h4>
        <h2 class="text-bold shadow">embrace your journey</h2>
        <div class="italic shadow">with</div>
        <h2 class="text-bold shadow">Changi</h2>
        <form action="" class="homepage-form center-align">
            <div class="input-field">
                <input placeholder="{{flightNumber}}" type="text" class="homepage-input" name='flight_number' ng-model='flightNumber'>
                <label for=""></label>
            </div>
            <!-- <button class="btn waves-effect waves-light full-width" type="submit" name="action">Lets go!
                </button> -->
            <a class="waves-effect waves-light btn full-width" ng-click="findFlight()">Lets go!</a>
        </form>
    </div>
</div>

