<!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
<!-- Navigation Bar -->
<header id="header">
            <!-- flight banner -->
        <div class="index-banner flight-banner">
            <h3 class="text-bold shadow">{{flight.airlineCode}}{{flight.number}}</h3>
            <h4 class="text-bold shadow">
                SIN
                <span class="icon icon-flight"></span>
                {{flight.city}}
            </h4>
            <div>
                Time: {{departureTime | date : 'hh:mm a'}} | Gate: {{flight.gate.id}}
            </div>
        </div>
        <!-- end flight banner -->

</header>
<!-- Main Body -->
<main id="main-content">
    <!-- Timeline Pages -->
    <section class="timeline-section">
        <div class="row"  ng-show='notice'>
            <div class="col s12 m12">
                <div class="card-panel teal">
                    <span class="white-text" id='notice-text'>{{noticement}}
                    </span>
                </div>
            </div>
        </div>
        
        <!-- Travel Timeline -->
        <div class="departure-timeline">
            <form>
                <!-- progressbar -->
                <ul id="progressbar">
                    <li ng-class="{true: 'active'}[state>=1]">Check In</li>
                    <li ng-class="{true: 'active'}[state>=2]">Departure Hall</li>
                    <li ng-class="{true: 'active'}[state>=3]">Security Screening</li>
                    <li ng-class="{true: 'active'}[state>=4]">Boarding</li>
                </ul>
                <!-- fieldsets -->
                <fieldset class="step-section" ng-show="state==1">
                    <div ng-include="'stage1.html'"></div>
                </fieldset>

                <fieldset class="step-section" ng-show="state==2">
                    <div ng-include="'stage2.html'"></div>
                </fieldset>

                <fieldset class="step-section" ng-show="state == 3">
                    <div ng-include="'stage3.html'"></div>
                </fieldset>

                <fieldset class="step-section" ng-show="state == 4">
                    <div ng-include="'stage4.html'"></div>
                </fieldset>
            </form>
        </div>
        <!-- end Travel Timeline -->
    </section>
    
    <section class="chatbox-section" id="chatbox" ng-hide="hide" ng-controller="ChatBoxController">
        <!-- <header class="top-bar">
                <div class="left">
                    <h1>FlightTalk</h1>
                </div>
                <div class="right">
                    <i class="small material-icons">chat</i>
                </div>
            </header> -->
            <div class="row no-margin discussion-wrapper">
                <ol class="discussion">
            <li ng-repeat='comment in comments' ng-class="comment.user.id==user.id?'self':'other'">
                <div class="avatar">
                    <img src="/assets/avatar.png" />
                </div>
                <div class="messages">
                    <p>{{comment.content}}</p>
                    <time datetime="2009-11-13T20:00">{{comment.user.name}} • Just Now</time>
                </div>
            </li>
        </ol>
            </div>     
<div class="row no-margin name-input" ng-hide='user'>
            <div class='message-text'>
                <div class="input-field col s12">
                    <input type="text" ng-model='username'>
                    <label for="">Your Name</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light message-send" type="submit" name="action" ng-click='addUser()'>OK
                <i class="material-icons right">send</i>
            </button>
        </div>

        <div class="row no-margin message-input">
            <div class="message-text">
                <div class="input-field col s12">
                    <input id="" type="text" class="" ng-model='newComment'>
                    <label for="">Your Message</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light message-send" type="submit" name="action" ng-click='addComment()'>SEND
                <i class="material-icons right">send</i>
            </button>
        </div>
    </section>
</main>
<!-- Chatbox Footer -->
<footer id="#footer" class="page-footer fixed-footer">
    <div class="row no-margin">
        <div class="col s10">
            <div class="chatbox-description">
                Know more about your flightmate!
            </div>
        </div>
        <div class="col s2 no-padding">
            <button id="chatbox-toggle" class="btn waves-effect waves-light transparent chatbox-button" ng-click="toggleChatBox()">
                <i class="medium material-icons">chat</i>
            </button>
        </div>
    </div>
</footer>
