<section id="stage-advice" class="step-hero">
    <div class="container">
        <div class="row">
            <div class="col s12 m9">
                <h3 class="text-bold shadow">Check In</h3>
                <h4 class="text-light">
                    Let's get your journey with Changi from our friendly check-in row :)
                </h4>
                <h5>
                    Before {{checkinTime | date: 'hh:mm a'}}
                </h5>
                <h5>
                    Terminal {{flight.terminal}} Gate {{flight.gate.id}}
                </h5>
                <!-- <div class="card ">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Check in</span>
                        <p>Before {{checkinTime | date: 'hh:mm a'}}</p>
                        <p>Terminal {{flight.terminal}} Gate {{flight.gate.id}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Find out more</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- recommendation icon group -->
<div class="icon-group">
    <div class="icon-button-wrapper">
        <a class="btn btn-circle waves-effect waves-light green"><span class="icon icon-bed icon-large"></span></a>
    </div>
    <div class="icon-button-wrapper">
        <a class="btn btn-circle waves-effect waves-light green"><span class="icon icon-food icon-large"></span></a>
    </div>
    <div class="icon-button-wrapper">
        <a class="btn btn-circle waves-effect waves-light green"><span class="icon icon-power icon-large"></span></a>
    </div>
    <div class="icon-button-wrapper">
        <a class="btn btn-circle waves-effect waves-light green"><span class="icon icon-basket icon-large"></span></a>
    </div>
</div>
<div class="grid">
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img29" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>
