<!-- stage advice card -->
<div id="stage-advice">
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content black-text">
                    <span class="card-title black-text">Check in</span>
                    <p>Before {{flight.scheduled | date : 'hh : mm'}}</p>
                    <p>Terminal {{flight.terminal}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end stage advice card -->

<!-- recommendation icon group -->
<div class="icon-group">
    <div class="container">
        <div class="icon-button-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light green"><span class="icon icon-bed icon-large"></span></a>
        </div>
        <div class="icon-button-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light green"><span class="icon icon-food icon-large"></span></a>
        </div>
        <div class="icon-button-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light green"><span class="icon icon-power icon-large"></span></a>
        </div>
        <div class="icon-button-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light green"><span class="icon icon-basket icon-large"></span></a>
        </div>
    </div>
</div>

<!-- recommendation icon group -->

<!-- attraction thumbnails -->
<div class="grid">
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img29" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
    <figure class="effect-steve">
        <img src="/assets/check-in1.jpg" alt="img33" />
        <figcaption>
            <h2>Lonely <span>Steve</span></h2>
            <p>Steve was afraid of the Boogieman.</p>
            <a href="#">View more</a>
        </figcaption>
    </figure>
</div>
<!-- attraction thumbnails -->
