<!DOCTYPE html>
<html>
<head>
  <title>Vinturer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">
    <h1>Something Here</h1>
    {{test}}
    <div ui-view></div>
</body>
</html>
